@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(37, 42, 58);
    color: white;
}

li {
    list-style: none;
}

ul {
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#app {
    padding-left: 10px;
}
.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    float: left;
}
.root {
    font-size: 24px;
    color: rgb(204, 230, 255);
}
.name {
    line-height: 32px;
}
.controls {
    padding-left: 5px;
}

.controls button i {
    pointer-events: none;
}
.controls button:hover {
    color: rgb(255, 255, 255);
    background: rgb(104, 130, 155);
}
.controls button {
    cursor: pointer;
    border: none;
    background: none;
    color: rgb(204, 230, 255);
    padding: 2px;
    width: 24px;
    height: 24px;
}
